.grid-2{
    font-size: 20px;
    color: black;
    padding: 20px;
    display: grid;
    text-align: center;
    
    /* grid-template-rows: repeat(4,300px);
    grid-template-columns: repeat(5, 2fr); */
    /* grid-template-rows: 200px 200fr 200px; */
    /* grid-row-gap: 20px; */


    grid-column-gap: 50px ;
    grid-row-gap: 50px;
    grid-template-areas:
    'acc1 acc2 acc3 acc4 acc5'
    
    ;
    justify-items: center;
    align-items: center;
    margin: 0;

    
}


.barra{
    display: grid;
    grid-auto-columns: 80px 2fr 2fr 2fr 80px;
    grid-auto-rows: 80px;
    
    margin: 0;
    /* background-color: aquamarine; */
}


.desp{
    background: url(assets/images/menu.svg) no-repeat center ;
    background-size: cover;
    position: relative;
    grid-column: 1/2;
    font-size: 80px;
    box-shadow: 0px 0px 10px 0px black; 
    
    
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 80px;
    
}

.dropdown-content a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .desp {background-color: #3e8e41;}

.search1{
    grid-column: 2/5;
    box-shadow: 0px 0px 10px 0px black; 
}
.search{
    background: url(assets/images/loupe.svg) no-repeat center ;
    grid-column: 5/6;
    background-size: 60px;
    position: relative;
    font-size: 80px;
    
    box-shadow: 0px 0px 10px 0px black; 

}
.acc{
    
    
    color:black;
    font-family: fantasy;
    font-size: 80px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px black; 
    
    
}
.acc1{
    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-rows: 300px 80px;
}
.acc2{
    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-rows: 300px 80px;
}
.acc3{
    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-rows: 300px 80px;
}
.acc4{
    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-rows: 300px 80px;
}

.acc5{
    display: grid;
    grid-auto-columns: 300px ;
    grid-auto-rows: 300px 80px;
}
.item1{
    grid-row: 1/2;
    
    background-image: url(assets/images/acc1.jpg);
    width: 300px;
    height: 300px;
    background-size: cover;
    position: relative;
    


}


.item2{
    grid-row: 1/2;
    background-image: url(assets/images/acc2.jpg);
    height: 300px;
    width: 300px;
    background-size: cover;
    position: relative;


}
.item3{
    grid-row: 1/2;
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc3.jpg) ;
    background-size: cover;
    position: relative;
    


}
.item4{
    grid-row: 1/2;
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc4.jpg) ;
    background-size: cover;
    position: relative;
    


}
.item5{
    grid-row: 1/2;
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc5.jpg) ;
    background-size: cover;
    position: relative;

   


}

.item6{
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 80px;
    grid-auto-columns: 80% 20%;
    margin: 0;
}
.descrip1{
    grid-column: 1/2;
    color:black;
    font-family: fantasy;
    font-size: 10px;
    text-align: center;
    
}
.btn1{
    grid-column: 2/3;
    background: url(assets/images/shopping-cart.svg) no-repeat center;
    background-size: 30px;
    
    text-align: center;
    background-color: white;

    font-size: 24px;
    border-radius: 80%;
    padding: 15px 32px;
    position: relative;
}

.item7{
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 80px;
    grid-auto-columns: 80% 20%;
    margin: 0;
}
.descrip2{
    grid-column: 1/2;
    color:black;
    font-family: fantasy;
    font-size: 10px;
    text-align: center;
    
}
.btn2{
    grid-column: 2/3;
    background: url(assets/images/shopping-cart.svg) no-repeat center;
    background-size: 30px;
    
    text-align: center;
    background-color: white;

    font-size: 24px;
    border-radius: 80%;
    padding: 15px 32px;
    position: relative;
}


.item8{
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 80px;
    grid-auto-columns: 80% 20%;
    margin: 0;
}
.descrip3{
    grid-column: 1/2;
    color:black;
    font-family: fantasy;
    font-size: 10px;
    text-align: center;
    
}
.btn3{
    grid-column: 2/3;
    background: url(assets/images/shopping-cart.svg) no-repeat center;
    background-size: 30px;
    
    text-align: center;
    background-color: white;

    font-size: 24px;
    border-radius: 80%;
    padding: 15px 32px;
    position: relative;
}


.item9{
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 80px;
    grid-auto-columns: 80% 20%;
    margin: 0;
}
.descrip4{
    grid-column: 1/2;
    color:black;
    font-family: fantasy;
    font-size: 10px;
    text-align: center;
    
}
.btn4{
    grid-column: 2/3;
    background: url(assets/images/shopping-cart.svg) no-repeat center;
    background-size: 30px;
    
    text-align: center;
    background-color: white;

    font-size: 24px;
    border-radius: 80%;
    padding: 15px 32px;
    position: relative;
}


.item10{
    grid-row: 2/3;
    display: grid;
    grid-auto-rows: 80px;
    grid-auto-columns: 80% 20%;
    margin: 0;
}
.descrip5{
    grid-column: 1/2;
    color:black;
    font-family: fantasy;
    font-size: 10px;
    text-align: center;
    
}
.btn5{
    grid-column: 2/3;
    background: url(assets/images/shopping-cart.svg) no-repeat center;
    background-size: 30px;
    
    text-align: center;
    background-color: white;

    font-size: 24px;
    border-radius: 80%;
    padding: 15px 32px;
    position: relative;
}



.tooltiptext5{
    text-align: center;
}

@media screen and (max-width: 900px) {
    .item1, .item2, .item3, .item4, .item5 {
        
    width: 100%;
  
    
    align-self: start;
    background-position: center center;
        /* The width is 100%, when the viewport is 800px or smaller */
    }
    .grid-2{
        grid-template-areas:
        'acc1'
        'acc2'
        'acc3'
        'acc4'
        'acc5'
    }
    .acc{
        border-radius: 80%;
        font-size: 60px;
    
    }
}
@media screen and (max-width: 1056px) {
    .grid-2{
        grid-template-areas:
        'acc1 acc2 acc3'
        'acc4 acc5'
        
        
    }
}

