.grid-2{
    font-size: 20px;
    color: black;
    padding: 20px;
    display: grid;
    text-align: center;
    
    /* grid-template-rows: repeat(4,300px);
    grid-template-columns: repeat(5, 2fr); */
    /* grid-template-rows: 200px 200fr 200px; */
    /* grid-row-gap: 20px; */
    grid-column-gap: 50px ;
    grid-row-gap: 50px;
    grid-template-areas:
    'item1 item2 item3 item4 item5'
    ;
    
}


.acc{
    background-color: aquamarine;
    width: 100%;
    color:black;
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px black; 
    
    
}

.item1{
    
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc1.jpg);
    background-size: 100%;
    position: relative;


}


.item2{
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc2.jpg);
    background-size: cover;
    position: relative;
   


}
.item3{
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc3.jpg);
    background-size: cover;
    position: relative;
    


}
.item4{
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc4.jpg);
    background-size: cover;
    position: relative;
    


}
.item5{
    height: 300px;
    width: 300px;
    background-image: url(assets/images/acc5.jpg);
    background-size: cover;
    position: relative;

   


}



.tooltiptext5{
    text-align: center;
}

@media screen and (max-width: 800px) {
    .item1, .item2, .item3, .item4, .item5 {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
    .grid-2{
        grid-template-areas:
        'item1'
        'item2'
        'item3'
        'item4' 
        'item5'
    }
}